.change-site {
  height: 4rem;
  border-bottom: 1px solid var(--white-15);
  overflow: hidden;
  & > .container {
    height: 4rem;
  }
  & a {
    height: 100%;
    color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    opacity: .45;
    padding-right: .5rem;
    line-height: 1;
    font-weight: 300;
    @media(min-width: 393px) {
      padding-right: 2rem;
    }
    &:hover {
      opacity: 1;
    }
  }
  @media(min-width: 1050px) {
    padding-right: 2rem;
  }
}