.cart {
  grid-area: cart;
  justify-self: center;
  max-width: 600px;
  @media (min-width: 1050px) {
    justify-self: stretch;
  }
  @media (min-width: 1550px) {
    justify-self: center;
    width: 80%;
  }
  & .price {
    margin: 0 auto;
  }
  & .add2cart {
    width: 100%;
    padding: 1rem;
    border-radius: var(--border-radius);
    color:var(--white);
    background: rgb(184,145,226);
    background: -moz-linear-gradient(90deg, rgba(184,145,226,1) 0%, rgba(85,155,210,1) 40%, rgba(85,155,210,1) 60%, rgba(92,210,182,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(184,145,226,1) 0%, rgba(85,155,210,1) 40%, rgba(85,155,210,1) 60%, rgba(92,210,182,1) 100%);
    background: linear-gradient(90deg, rgba(184,145,226,1) 0%, rgba(85,155,210,1) 40%, rgba(85,155,210,1) 60%, rgba(92,210,182,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b891e2",endColorstr="#5cd2b6",GradientType=1);
    @media (min-width: 1850px) {
      padding: 1.5rem 5rem;
    }
    & input {
      width: 100%;
      color: var(--white);
      border-radius: var(--border-radius-5);
      border:none;
      outline:none;
      &:hover {
        background:var(--black);
        color:var(--white) !important;
        border-color: var(--black);
      }
      &:disabled {
        background:var(--black-15) !important;
        color:var(--white-40) !important;
        cursor: not-allowed;
        border:none !important;
      }
    }
    & .storequickorder-button {
      background: none;
      border: 3px solid var(--black);
      &:hover {
        background: var(--black);
        color: var(--white) !important;
      }
      &:disabled {
        background:var(--black-15) !important;
        color:var(--white-40) !important;
        cursor: not-allowed;
        border:none !important;
      }
    }
  }
  & .frontend-plugin-hook {
    text-align: center;
  }
  & .buttons-color-bg-block{
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & .services {
    padding: 2.5rem 0;
    & div {
      & label {
        padding: .25rem 0;
        font-size: 0.76rem;
        @media (min-width: 1550px) {
          font-size: .9rem;
        }
        & .service-price {
          font-weight: 600;
        }
      }
    }
  }
  & #cart-form {
    & .prices {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      & span.compare-at-price {
        width: 40%;
        color: var(--base-color-red);
        text-decoration: line-through;
        padding: 0 0 1.5rem 0;
        font-size: 1.45rem;
        justify-self: flex-start;
      }
      & span.price {
        width: 60%;
        color: var(--base-color-dark-hover);
        font-weight: 700;
        font-size: 2.25rem;
        padding: 0 0 1.5rem 0;
        margin: 0;
        display: block;
      }
    }
    & .stocks {
        padding: .5rem 0;
    }
  }
}