.category {
  display:grid;
  grid-template-areas:
          "topbar"
          "content";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  @media (min-width: 1050px) {
    grid-template-columns: 18.75rem 41.5rem;
    grid-template-areas:
          "topbar topbar"
          "sidebar content";
  }
  @media (min-width: 1250px) {
    grid-template-columns: 18.75rem 55.25rem;
  }
  @media (min-width: 1550px) {
    grid-template-columns: 18.75rem 74rem;
  }
  @media (min-width: 1850px) {
    grid-template-columns: 18.75rem 91.75rem;
    grid-gap: 2rem;
    grid-row-gap: 1.5rem;
  }
  @media (min-width: 2150px) {
    grid-template-columns: 18.75rem 112.5rem;
  }
  &.sidebar-hidden {
    grid-template-areas:
          "topbar"
          "content";
    grid-template-columns: 1fr;
  }
  & .topbar {
    padding: 0 0 1rem 0;
    grid-area: topbar;
    & h1 {
      margin: 0 0 2.5rem 0;
      font-weight: 500;
      font-size: 2.5rem;
      line-height: 3.25rem;
      letter-spacing: 2px;
    }
    & .fast-filter {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      overflow-y: scroll;
      & li {
        display: block;
        flex-shrink: 0;
        margin-right: 1rem;
      }
      & li:last-of-type {
        margin-right: 5rem;
      }
      @media (min-width: 768px) {
        flex-wrap: wrap;
        & li, & li:last-of-type {
          margin: .5rem 1rem .5rem 0;
        }
      }
    }
  }
  & .sidebar {
    grid-area: sidebar;
    display: none;
    &.slide-filters {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: var(--black-95);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 99911;
      & .s-category-filters {
        width: 20rem;
        padding: 2.5vh 0 10vh 0;
        background: var(--black);
        height: 100vh;
        & .s-buttons-wrapper {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 20rem;
          text-align: center;
          height: 10vh;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
          align-items: center;
        }
        & form {
          overflow-y: scroll;
          max-height: 87.5vh;
          padding: 0 2.5rem;
          &::-webkit-scrollbar {
            width: .15rem;
            background: var(--white-35);
          }
          &::-webkit-scrollbar-button {
            height: 0;
          }
          &::-webkit-scrollbar-thumb {
            background: var(--base-color-dark-hover);
          }
        }
      }
    }
    @media (min-width: 768px) {
      display: none;
    }
    @media (min-width: 1050px) {
      display: block;
    }
  }
  & .sort {
    & .sorting {
      display: none;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      font-size: 0.65rem;
      padding: 2.5rem 0;
      @media (min-width: 768px) {
        display: flex;
      }
      @media (min-width: 1250px) {
        font-size: 0.75rem;
        padding: 2.5rem 0;
      }
      @media (min-width: 1550px) {
        font-size:.8rem;
        padding: 2.5rem 1rem;
      }
      @media (min-width: 1850px) {
        font-size:.9rem;
        padding: 2.5rem 2rem;
      }
      & li {
        align-self: center;
        position: relative;
        &:first-child{
          color: var(--white-50);
        }
      }
      & a {
        padding-left: 1.4rem;
        @media (min-width: 1250px) {
          padding-left: 2rem;
        }
        @media (min-width: 1550px) {
          padding-left: 3rem;
        }
        color: var(--white-75);
        &:hover {
          color: var(--base-color-dark-hover);
        }
        &::before {
          position: absolute;
          content: '';
          display: block;
          top: 50%;
          left: .3rem;
          margin-top: -.4rem;
          width: .8rem;
          height: .8rem;
          background-size: 100% auto;
          @media (min-width: 1250px) {
            width: 1.1rem;
            height: 1.1rem;
            left: .6rem;
            margin-top: -0.65rem;
          }
          @media (min-width: 1550px) {
            left: 1.25rem;
            width: 1.25rem;
            height: 1.25rem;
            margin-top: -.75rem;
          }
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4502 7.46997C10.2602 7.46997 10.0702 7.4 9.9202 7.25L6.7302 4.06L3.54019 7.25C3.25019 7.54 2.7702 7.54 2.4802 7.25C2.1902 6.96 2.1902 6.48 2.4802 6.19L6.20023 2.46997C6.34023 2.32997 6.5302 2.25 6.7302 2.25C6.9302 2.25 7.12022 2.32997 7.26022 2.46997L10.9802 6.19C11.2702 6.48 11.2702 6.96 10.9802 7.25C10.8302 7.4 10.6402 7.46997 10.4502 7.46997Z' fill='%23515151'/%3E%3Cpath d='M6.72998 21.75C6.31998 21.75 5.97998 21.41 5.97998 21V3C5.97998 2.59 6.31998 2.25 6.72998 2.25C7.13998 2.25 7.47998 2.59 7.47998 3V21C7.47998 21.41 7.13998 21.75 6.72998 21.75Z' fill='%23515151'/%3E%3Cpath d='M17.28 21.75C17.08 21.75 16.89 21.67 16.75 21.53L13.03 17.81C12.74 17.52 12.74 17.04 13.03 16.75C13.32 16.46 13.8 16.46 14.09 16.75L17.28 19.94L20.4699 16.75C20.7599 16.46 21.24 16.46 21.53 16.75C21.82 17.04 21.82 17.52 21.53 17.81L17.81 21.53C17.67 21.67 17.47 21.75 17.28 21.75Z' fill='%23515151'/%3E%3Cpath d='M17.27 21.75C16.86 21.75 16.52 21.41 16.52 21V3C16.52 2.59 16.86 2.25 17.27 2.25C17.68 2.25 18.02 2.59 18.02 3V21C18.02 21.41 17.69 21.75 17.27 21.75Z' fill='%23515151'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
        }
      }
      & li.selected {
        & a {
          color: var(--base-color-dark-hover);
          &::before {
            display: none;
          }
          &:hover {
            color: var(--base-color-dark-hover);
          }
          & i.sort-asc, & i.sort-desc {
            position: absolute;
            content: '';
            display: block;
            top: 50%;
            left: .3rem;
            margin-top: -.4rem;
            width: .8rem;
            height: .8rem;
            background-size: 100% auto;
            @media (min-width: 1250px) {
              width: 1.1rem;
              height: 1.1rem;
              left: .6rem;
              margin-top: -0.65rem;
            }
            @media (min-width: 1550px) {
              left: 1.25rem;
              width: 1.25rem;
              height: 1.25rem;
              margin-top: -.75rem;
            }
          }
          & i.sort-asc {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4498 6.71997L6.72974 3L3.00977 6.71997' stroke='%23515151' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.72998 21V3' stroke='%23515151' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.5498 17.28L17.2698 21L20.9898 17.28' stroke='%23FF8500' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.27 3V21' stroke='%23FF8500' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
          & i.sort-desc {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.98 6.19L7.26999 2.47998C7.19999 2.40998 7.10998 2.35 7.00998 2.31C6.99998 2.31 6.98995 2.30999 6.97995 2.29999C6.89995 2.26999 6.80994 2.25 6.71994 2.25C6.51994 2.25 6.32997 2.32997 6.18997 2.46997L2.46994 6.19C2.17994 6.48 2.17994 6.96 2.46994 7.25C2.75994 7.54 3.24 7.54 3.53 7.25L5.97995 4.79999V21C5.97995 21.41 6.31995 21.75 6.72995 21.75C7.13995 21.75 7.47995 21.41 7.47995 21V4.81L9.91995 7.25C10.07 7.4 10.26 7.46997 10.45 7.46997C10.64 7.46997 10.83 7.4 10.98 7.25C11.27 6.96 11.27 6.49 10.98 6.19Z' fill='%23FF8500'/%3E%3Cpath d='M21.5302 16.75C21.2402 16.46 20.7602 16.46 20.4702 16.75L18.0202 19.2V3C18.0202 2.59 17.6802 2.25 17.2702 2.25C16.8602 2.25 16.5202 2.59 16.5202 3V19.19L14.0802 16.75C13.7902 16.46 13.3102 16.46 13.0202 16.75C12.7302 17.04 12.7302 17.52 13.0202 17.81L16.7302 21.52C16.8002 21.59 16.8902 21.65 16.9902 21.69C17.0002 21.69 17.0102 21.69 17.0202 21.7C17.1002 21.73 17.1902 21.75 17.2802 21.75C17.4802 21.75 17.6702 21.67 17.8102 21.53L21.5302 17.81C21.8202 17.51 21.8202 17.04 21.5302 16.75Z' fill='%23515151'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }
  & .content {
    grid-area: content;
    @media (min-width: 786px) {
          width: auto;
    }
  }
}

@media (max-width: 767px) {
  .container.category {
    margin: 0 0 0 3vw;
  }
}