.toastContain {
  position: fixed;
  width: 22rem;
  bottom: 7rem;
  left: 2rem;
  z-index: 9998;
}
.toast {
  opacity: 0;
  min-height: 30px;
  background: var(--white);
  color: var(--black);
  border-radius: var(--border-radius);
  padding: .65rem 1rem;
  margin-top: -42px;
  box-shadow: 0 3px 15px #0004;
  text-align: center;
  line-height: 1.25;
  transform: scale(0.95) translateY(50px);
  transition:
          margin-top 0.7s,
          transform 0.7s,
          opacity 0.7s;
  font-size: .95rem;
    & p {
      padding: 1rem 0;
    }
    & .button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: var(--white);
      min-height: 2.5rem;
      height: 2.5rem;
      border-radius: var(--border-radius-5);
      padding: 0 1rem;
      background:var(--black);
      border:var(--border-size) solid var(--black);
      border-radius:var(--border-radius-5);
      color:var(--white);
      margin: .5rem auto;
      &:hover {
        border:var(--border-size) solid var(--base-color-dark-hover);
        background:var(--base-color-dark-hover);
        color:var(--white);
      }
    }
}
.toast.open {
  margin-top: .65rem;
  transform: scale(1) translateY(0);
  opacity: 1;
}

.toast.critical {
  background-color: var(--base-color-red);
  color: var(--white);
}