:root {
  --black: #ffffff;
  --black-wrap: rgba(251,251,251,.80);
  --black-95: rgba(251,251,251,.58);
  --black-90: rgba(251,251,251,.56);
  --black-85: rgba(251,251,251,.52);
  --black-80: rgba(251,251,251,.50);
  --black-75: rgba(251,251,251,.46);
  --black-70: rgba(251,251,251,.44);
  --black-65: rgba(251,251,251,.40);
  --black-60: rgba(251,251,251,.38);
  --black-55: rgba(251,251,251,.34);
  --black-50: rgba(251,251,251,.32);
  --black-45: rgba(251,251,251,.27);
  --black-40: rgba(251,251,251,.25);
  --black-35: rgba(251,251,251,.21);
  --black-30: rgba(251,251,251,.19);
  --black-25: rgba(251,251,251,.15);
  --black-20: rgba(251,251,251,.13);
  --black-15: rgba(251,251,251,.08);
  --black-10: rgba(251,251,251,.06);
  --black-05: rgba(251,251,251,.02);
  --yellow: #FFD700;
  --yellow-dark: #FEBE10;
  --yellow-darkest: #eaa800;
  --base-color: #559bd2;
  --base-color-hover: #5CD2B6;
  --base-color-dark: #B891E2;
  --base-color-dark-hover: #559bd2;
  --base-color-50: #ead7ff50;
  --base-color-red: #e10e5b;
  --base-color-purple: #c9ade9;
  --base-color-ping: #DC466D;
  --base-color-agon-pro-1: #c832c8;
  --base-color-agon-pro-2: #7328cd;
  --base-color-agon-pro-3: #1e3796;
  --base-color-agon-pro-1-rgb:rgb(200,50,200);
  --base-color-agon-pro-2-rgb:rgb(115,40,205);
  --base-color-agon-pro-3-rgb:rgb(30,55,150);
  --base-color-agon-1: #ffce6f;
  --base-color-agon-2: #ff5259;
  --base-color-agon-3: #e10e5b;
  --base-color-agon-1-rgb: rgb(255,206,111);
  --base-color-agon-2-rgb: rgb(255,82,89);
  --base-color-agon-3-rgb: rgb(225,14,91);
  --icon-color: #ccc;
  --menu-bgcolor-button: #171717;
  --menu-fixed: #171717;
  --white: #211F20;
  --white-98: rgba(33,31,32,.62);
  --white-97: rgba(33,31,32,.61);
  --white-96: rgba(33,31,32,.59);
  --white-95: rgba(33,31,32,.58);
  --white-90: rgba(33,31,32,.56);
  --white-85: rgba(33,31,32,.52);
  --white-80: rgba(33,31,32,.50);
  --white-75: rgba(33,31,32,.46);
  --white-70: rgba(33,31,32,.44);
  --white-65: rgba(33,31,32,.40);
  --white-60: rgba(33,31,32,.38);
  --white-55: rgba(33,31,32,.34);
  --white-50: rgba(33,31,32,.32);
  --white-45: rgba(33,31,32,.27);
  --white-40: rgba(33,31,32,.25);
  --white-35: rgba(33,31,32,.21);
  --white-30: rgba(33,31,32,.19);
  --white-25: rgba(33,31,32,.15);
  --white-20: rgba(33,31,32,.13);
  --white-15: rgba(33,31,32,.08);
  --white-10: rgba(33,31,32,.06);
  --white-05: rgba(33,31,32,.02);
  --border-radius: 16px;
  --border-radius-5: 5px;
  --border-size: 3px;
  --border-size-input: 2px;
  --swiper-theme-color: var(--base-color);
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 21px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-inactive-color: var(--white-25);
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-border-radius: var(--border-radius-5);
  --swiper-navigation-color: var(--swiper-theme-color);
  --swiper-navigation-size: 4.5rem;
  --aoc-b2b:#005881;
  --aoc-b2b-rgb:rgb(0,88,129);
  --aoc-b2b-sploosh:rgba(0,88,129, 0.7);
  --aoc-gaming-text: #FF6321;
  --aoc-gaming-features-primary: #FFED81;
  --aoc-gaming-features-secondary: #ED401B;
  --aoc-gaming-features-tertiary: #ED401B;
  --aoc-gaming-background-primary: #D96E04;
  --aoc-gaming-background-secondary: #450301;
  --aoc-gaming-background-tertiary: #130900;
  --aoc-agon-text: #EC3139;
  --aoc-agon-features-primary: #EEB649;
  --aoc-agon-features-secondary: #C53036;
  --aoc-agon-features-tertiary: #CD004B;
  --aoc-agon-background-primary: #880030;
  --aoc-agon-background-secondary: #2A0B03;
  --aoc-agon-background-secondary-sploosh: rgba(138, 0, 48, 0.7);
  --aoc-agon-background-tertiary: #000000;
  --aoc-agonpro-text: #918EFF;
  --aoc-agonpro-features-primary: #91B2F9;
  --aoc-agonpro-features-secondary: #A97EC5;
  --aoc-agonpro-features-tertiary: #8B91F3;
  --aoc-agonpro-background-primary: #523FE0;
  --aoc-agonpro-background-secondary: #27084A;
  --aoc-agonpro-background-secondary-sploosh: rgba(39, 8, 74, 0.7);
  --aoc-agonpro-background-tertiary: #030110;
}