@font-face {
	font-family: 
                    Montserrat;
	font-display: swap;
	src: 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-ExtraBold.woff2") format("woff2"), 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-ExtraBold.woff") format("woff");
	font-weight: 
               800;
	font-style: normal;
}
@font-face {
	font-family: 
                    Montserrat;
	font-display: swap;
	src: 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Bold.woff2") format("woff2"), 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Bold.woff") format("woff");
	font-weight: 
               700;
	font-style: normal;
}
@font-face {
	font-family: 
                    Montserrat;
	font-display: swap;
	src: 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Black.woff2") format("woff2"), 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Black.woff") format("woff");
	font-weight: 
               900;
	font-style: normal;
}
@font-face {
	font-family: 
                    Montserrat;
	font-display: swap;
	src: 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Light.woff2") format("woff2"), 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Light.woff") format("woff");
	font-weight: 
               300;
	font-style: normal;
}
@font-face {
	font-family: 
                    Montserrat;
	font-display: swap;
	src: 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-ExtraLight.woff2") format("woff2"), 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-ExtraLight.woff") format("woff");
	font-weight: 
               200;
	font-style: normal;
}
@font-face {
	font-family: 
                    Montserrat;
	font-display: swap;
	src: 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Regular.woff2") format("woff2"), 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Regular.woff") format("woff");
	font-weight: 
               400;
	font-style: normal;
}
@font-face {
	font-family: 
                    Montserrat;
	font-display: swap;
	src: 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Medium.woff2") format("woff2"), 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Medium.woff") format("woff");
	font-weight: 
               500;
	font-style: normal;
}
@font-face {
	font-family: 
                    Montserrat;
	font-display: swap;
	src: 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-VariableFont_wght.woff2") format("woff2"), 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-VariableFont_wght.woff") format("woff");
	font-weight: 
               400;
	font-style: normal;
}
@font-face {
	font-family: 
                    Montserrat;
	font-display: swap;
	src: 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Thin.woff2") format("woff2"), 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-Thin.woff") format("woff");
	font-weight: 
               100;
	font-style: normal;
}
@font-face {
	font-family: 
                    Montserrat;
	font-display: swap;
	src: 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-SemiBold.woff2") format("woff2"), 
               url("https://aoc-gaming.ru/wa-data/public/site/FONTS/Montserrat-SemiBold.woff") format("woff");
	font-weight: 
               400;
	font-style: normal;
}
