.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .s-message {
  color: var(--base-color-red) !important;
  margin: 3rem 0 0 0 !important;
  fill: var(--base-color-red) !important;
}
.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .s-message .gray, .wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .s-message .gray svg {
  color: var(--base-color-red) !important;
  fill: var(--base-color-red) !important;
}
